__pycache__/
*.log
*.zip
*.jpg
*.csv
*.log
*.swp
*.txt
*.pyc
*.lock
*.tmp
.ash_history
.java/
.sdb/
.cache/
input_folder/
models/faster_rcnn_1024_parent/
models/yolov4_9_objs/
output_folder/.cache/
output_folder/.sdb/
