__pycache__/
*.log
*.zip
*.jpg
*.csv
*.log
*.swp
*.txt
*.pyc
*.lock
*.tmp
.ash_history
.java/
.sdb/
.cache/
archive_folder/*
input_folder/
output_folder/*
logs/*.log
logs/aws/*
logs/analyses/*
logs/yesterday/*
models/faster_rcnn_1024_parent/*
models/yolov4_9_objs/*
.ash_history
.sdb/
.cache/
general_utils/.ash_history
general_utils/.sdb/
detections.ini
daily_reports/
temp/
